deep_translator==1.11.4
easyocr==1.7.2
huggingface_hub==1.31.0
numpy==2.5.3
Pillow==12.3.0
pyperclip==1.11.0
pyside6==6.11.2
pyside6_addons==6.11.2
pyside6_essentials==6.11.2
torch==2.12.1
tqdm==4.70.1
transformers==5.17.0
winocr==0.0.15
